        *{
            margin: 0;
            padding: 0;
        }
        
        .fundo{
            background-color: #DEC9E9;
            height: 100vh;
            font-family: monospace;
            align-items: center;    
            color: #081C15;
            text-align: center;
        }

        .calculadora{
            background-color: #D8F3DC;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            padding: 20px;
        }

        .botao{
            background-color: #52B788;
            width: 50px;
            height: 50px;
            font-family: monospace;
            font-size: 18px;
            color: black;
            border-radius: 8px;
            border: none;
            margin: 2px;
        }

        .botao:hover{
            background-color: #40916C;
        }